.allcall{
  background: linear-gradient(135deg, rgba(121, 91, 255, 0.3), rgba(74, 38, 236, 0.5));
  min-height: 100vh;
}

.calls-reminders-container {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1e1e1e7e;
    color: #ffffff;
    border-radius: 10px;
  }
  
  header {
    margin-bottom: 20px;
  }
  
  header h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  header p {
    font-size: 14px;
    color: #cccccc;
  }
  
  .settings-list {
    margin-bottom: 20px;
  }
  
  .setting-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #2a2a2a4f;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .setting-info h3 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .setting-info p {
    font-size: 14px;
    color: #999999;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .save-button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #4caf4f7c;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .save-button:hover {
    background-color: #45a0494f;
  }
  
  .secondary-button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #2a2a2a41;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .secondary-button:hover {
    background-color: #3a3a3a38;
  }