.info-section {
  background: linear-gradient(189deg, rgba(121, 91, 255, 0.199), rgba(74, 38, 236, 0.575)); 
  display: flex;
  padding: 40px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
  }
  
  .image-text {
    font-size: 20px;
    line-height: 1.1em;
    font-family: 'Syne', sans-serif; /* Ensure Syne is imported */
    font-weight: bold;
    color: #FFF;
    gap: 4rem;
    display: flex;
    margin-bottom: 2rem;
  }
  
  .info-image {
    width: 400px; /* Increase the image width */
 
    object-fit: cover;
    border-radius: 12px;
    height: 400px;
  }
  
  .email-event h3 {
    color: #FFF;

  }

  @media (max-width: 768px) {
    .info-section {
      padding: 20px;
      gap: 2rem;
    }
  
    .image-text {
      font-size: 16px;
      flex-direction: column;
      gap: 2rem;
    }
  
    .info-image {
      max-width: 100%;
    }
  }
  
  